@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway-Thin';
  src: url('fonts/static/Raleway-Thin.ttf');
}
@font-face {
  font-family: 'Raleway';
  src: url('fonts/static/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Rubik-SemiBold';
  src: url('fonts/static/Rubik-SemiBold.ttf');
}
@font-face {
  font-family: 'Rubik-Bold';
  src: url('fonts/static/Rubik-Bold.ttf');
}
@font-face {
  font-family: 'Rubik';
  src: url('fonts/static/Rubik-Regular.ttf');
}

html {
  font-size: 20px;
  box-sizing: border-box;
}

h1 {
  font-family: 'Rubik-Bold', sans-serif;
}
h2,
h3,
h4,
h5 {
  font-family: 'Rubik-SemiBold', sans-serif;
}
div {
  font-family: 'Raleway', sans-serif;
}
